<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.claro.amx.sp.starterrestservice.mapper.ccard.ParametersMapper">

    <resultMap id="map_GetParametersDataResult" type="com.claro.amx.sp.starterrestservice.model.ccard.Parameters">
        <result property="name" column="PPA_NAME"/>
        <result property="value" column="PPA_VALUE"/>
    </resultMap>

    <select id="getParametersData" resultMap="map_GetParametersDataResult">
        SELECT PPA_NAME, PPA_VALUE
        FROM PREPAY_PARAMETERS
        WHERE PPA_NAME = #{parameterName}
        AND SYSDATE BETWEEN PPA_START_DATE AND NVL(PPA_END_DATE,SYSDATE+1)
    </select>

</mapper>